/* Smartphone responsive styles */
@media (max-width: 480px) {
    /* Universal styles */
    html {
        font-size: 12px;
    }

    /* Headline styles */
    #title {
        font-size: 3.5rem;
    }

    /* Main content styles */
    #tribute-info #firstInfoSentence {
        text-indent: 10vw;
    }

    #tribute-info #lastInfoSentence {
        margin-bottom: 10vh;
    }

    #further-info {
        margin: 10vh auto;
    }

    /* Footer styles */
    footer {
        padding-top: 5vh;
    }
}


/* Tablet and laptop responsive styles */
@media (min-width: 481px) and (max-width: 1024px) {
    /* Universal styles */
    html {
        font-size: 16px;
    }

    /* Main content styles */
    #further-info {
        margin: 8vh auto;
    }

    /* Footer styles */
    footer {
        padding-top: 3vh;
    }
}