@import url("https://fonts.googleapis.com/css?family=Anton");

/* Universal styles */
body {
    padding: 0;
    margin: 0;
    background-color: #dddddd;
    font-family: Arial, sans-serif;
}

#main {
    background-color: #e9e8e5;
    margin: 2.5vh 10vw;
    color:  #0e2f44;
    font-size: 1.1rem;
    padding: 3vw;
}

/* Headline styles */
#title {
    text-align: center;
    font-family: 'Anton', sans-serif;
    font-size: 4.5rem;
    margin: 0;
    margin-bottom: 5vh;
}

/* Main content styles */
#img-div #image {
    display: block;
    max-width: 100%;
    margin: auto;
    border-radius: 20px;
}

#img-div #img-caption {
    text-align: center;
    opacity: 0.5;
    font-style: italic;
    font-size: smaller;
}

#tribute-info #firstInfoSentence {
    text-indent: 5vw;
}

#tribute-info #lastInfoSentence {
    margin-bottom: 5vh;
}

#further-info {
    text-align: center;
    margin: 5vh auto;
}

#tribute-link, a {
    color: blue;
    text-decoration: none;
}

#tribute-link:hover, a:hover {
    color: #0061ff;
}

/* Footer styles */
footer {
    font-size: smaller;
    font-style: italic;
    text-align: center;
    border-top: 2px solid #0e2f44;
    padding-top: 2%;
}